<%= link_to root_path, class: "message-noti dropdown-item", id: notification.id do %>
  <div class="row no-gutters">
    <div class="col-md-2 d-flex align-items-center">
      <%= image_tag Settings.app.default_avatar, class: "notify-avatar" %>
    </div>
    <div class="col-md-10 notify-body text-justify">
      <p class="text-wrap notify-content">
        <%= notification.content %>
      </p>
      <p class="card-text">
        <small class="text-muted">
          <%= l notification.created_at %>
        </small>
      </p>
    </div>
  </div>
<% end %>
